---
import type { CollectionEntry } from "astro:content";
import { SECTIONS } from "../consts";
import StarRating from "./StarRating.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const meta = SECTIONS[post.data.section];
const searchText = `${post.data.title} ${post.data.excerpt} ${meta.label}`;
---
<article class="post-card" data-card data-search-text={searchText}>
  <a href={`/article/${post.slug}/`}>
    <div class="cover-art" style={`background-image:url(${post.data.cover})`}></div>
    <div class="card-body">
      <span class="kicker">{meta.label} / post</span>
      <h3 class="post-title">{post.data.title}</h3>
      {post.data.rating ? <StarRating value={post.data.rating} /> : <p class="post-excerpt">{post.data.excerpt}</p>}
    </div>
  </a>
</article>
